<div class="panel {{ panel_status }} task-panel" data-id="{{ panel_id }}" id="{{ div_id }}">
  <div class="panel-heading">
    <div class="task-name" tabindex="0" data-toggle="popover" data-placement="top" data-content="{{ panel_notes }}" data-trigger="focus">{{ panel_name }}</div>
    <div class="task-action row">
      <div class="col-xs-3">
        <span class="glyphicon glyphicon-ok task-toggle" data-action="C" aria-hidden="true"></span>
      </div>
      <div class="col-xs-3">
        <span class="glyphicon glyphicon-remove task-toggle" data-action="A" aria-hidden="true"></span>
      </div>
      <div class="col-xs-3">
        <span class="glyphicon glyphicon-pencil task-edit" aria-hidden="true"></span>
      </div>
      <div class="col-xs-3">
        <span class="glyphicon glyphicon-trash task-delete" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</div>