body{
	padding-top: 50px;
  position: relative;
}

#choose-filters:hover {
  cursor: pointer;
}

.checkbox:not(.hidden) {
  margin-top: 10px;
}

#select-all-projects:hover,
#deselect-all-projects:hover,
#select-all-users:hover,
#deselect-all-users:hover {
  cursor: pointer;
}
