/* styling for table scrolling behavior */
.table{
  border-collapse: separate;
  margin-bottom: 0;
  border-width: 0;
}
#main .container{
  width: 100%;
  padding: 0;
}
#th-new-experiment {
  z-index: 1002;
}
.modal-open th.date {
  transform: translateY(0px) !important;
}
th.date{
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  left: 0px;
  background-color: white;
  opacity: 1;
  z-index: 1001;
}
#planner-table thead th{
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}
thead th {
  top: 50px;
  left: 0px;
  background-color: white;
  z-index: 1000;
}

/* styling for table appearance (column width, etc) */
.table td{
  min-width: 100px;
}
th.date{
  width: 100px;
  min-width: 100px;
}
th.column,td.column{
  min-width: 150px;
}
tr.weekend th.date, tr.weekend{
  background-color: #eee;
}
tr.today th.date, tr.today{
  background-color: #d9edf7;
}

/* header panel appearance */
.experiment-action > div, .experiment-order > div{
  padding: 5px 0px;
}
.experiment-action span{
  opacity: 0.5;
}
.experiment-action span:hover{
  cursor: pointer;
  opacity: 1;
}
.experiment-objective, .experiment-notes{
  display: none;
}
th.column{
  padding-top: 22px !important;
  text-align: center;
}
.experiment-order{
  position: absolute;
  top: 2px;
  width: calc(100% - 10px);   /* to compensate for th padding */
}
.update-order{
  opacity: 0.5;
  display: none;
}
th.column:hover .update-order{
  display: block;
}
.update-order:hover{
  cursor: pointer;
  opacity: 1;
}

/* task panel styling */
.panel{
  margin-bottom: 5px;
  z-index: 1;   /* for draggable */
}
.task-name{
  margin-bottom: 10px;
}
.task-name:focus{
  outline: none;
}
.task-name:hover{
  cursor: default;
}
.task-action {
  border-top: 1px dotted;
  padding-top: 5px;
  margin-bottom: -6px;
}

.task-action > div{
  text-align: center;
  padding: 0;
}
.task-action span{
  opacity: 0.5;
}
.task-action span:hover{
  cursor: pointer;
  opacity: 1;
}
.task-contributors {
  margin-top: -11px;
  margin-bottom: 10px;
  padding: 2px;
  border-bottom: 1px dotted;
  line-height: 14px;
}
.contributor-icon {
  display: inline-block;
  font-size: 0.6em;
  border: 1px solid;
  border-radius: 100px;
  padding: 3px;
  width: 22px;
  background-color: white;
  opacity: 0.3;
}
.contributor-icon-self {
  opacity: 1;
}

/* miscellaneous styling */
.experiment-name{
  font-style: italic;
}
#panel-template{
  display: none;
}
#header-template{
  display: none;
}
.droppable-hover{
  background-color: rgba(0,0,0,0.1) !important;
}
